body {
  background: linear-gradient(to right, #000000, #000080, #336699);
  margin: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: white;
}

.custom-navbar .navbar-nav .nav-link {
  color: white !important;
}

.custom-navbar .navbar-toggler-icon {
  filter: invert(1) !important;
}


.custom-navbar .navbar-toggler {
  border-color: white !important;
}

h1
h3,
h5 {
  color: white;
  font-weight: bold;
}

#hero-section {
  padding: 0 0 50px 0;
  box-sizing: border-box;
}

#logo {
  height: 400px;
  width: 400px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.hero h1 {
  margin: 0;
}

#prev-search {
  text-align: left;
}

#news {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

#news h3 {
  padding-bottom: 10px;
}

#currency {
  padding: 200px;
}

.carousel {
  position: relative;
  width: 80%; 
  margin: auto; 
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%; 
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: -15%; /
}

.carousel-control-next {
  right: -15%; 
}

.cards {
  width: 50rem;
  height: 40rem;
}

#search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#searchInput:focus {
  outline: none;
}

#search-button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#history button {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

#history button:hover,
#search-button:hover {
  background-color: #817c7c;
}

label {
  color: white;
}

select,
option {
  max-width: 40%;
  white-space: normal;
  text-overflow: ellipsis;
}

#currency-search-button {
  margin: 20px 0 20px 0;
}

#clear-history-btn {
  margin-bottom: 20px;
}