body {
  background: linear-gradient(to right, #000000, #000080, #336699);
  margin: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: white;
}

.custom-navbar .navbar-nav .nav-link {
  color: white !important;
  font-family: "Playfair Display", serif;
}

.custom-navbar .navbar-toggler-icon {
  filter: invert(1) !important;
}


.custom-navbar .navbar-toggler {
  border-color: white !important;
}


h1,
h3,
h5 {
  color: white;
  font-weight: bold;
}

#hero-section {
  padding: 0 0 1px 0;
  box-sizing: border-box;
}

#logo {
  height: 400px;
  width: 400px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#hero-section h1 {
  margin: 20px;
}

#prev-search {
  text-align: left;
}

#news, #news-search {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

#news-search h3 {
  padding-bottom: 10px;
}

#currency {
  padding: 200px;
}

.carousel {
  position: relative;
  width: 80%; 
  margin: auto; /* Centers the carousel */
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: -15%; /* Adjusts the left position of the button to take the user to the previous card in the carousel */
}

.carousel-control-next {
  right: -15%; /* Adjusts the right position of the button to take the user to the next card in the carousel */
}

.cards {
  height: 500px !important; 
  overflow: hidden; /* Hide overflow content */
}

.cards p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.news-story-img {
  padding-top: 15px;
  height: 200px;
  width: 100%; 
  object-fit: contain; 
}


#search-input {
  width: 210px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#search-input:focus {
  outline: none;
}

#search-button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#history button {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

#history button:hover,
#search-button:hover {
  background-color: #817c7c;
}

label {
  color: white;
}

/* select,
option {
  max-width: 40%;
  white-space: normal;
  text-overflow: ellipsis;
} */

.label-title {
  padding: 10px;
}

#base-input, #target-input {
  width: 20%;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.currency-image {
  max-width: 100px;
  height: 100px;
  margin: 10px; 
}

.currency-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#currency-search-button {
  margin: 35px 0px 35px 0;
}

#clear-history-btn {
  margin-bottom: 20px;
}

.news-location-heading {
  padding-bottom: 5px;
}